@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #0027D5;
}

html {
  font-size: 16px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #FBFBFB;
  /*   letter-spacing: 1px; */
}

h1 {
  font-size: 7.5rem;
  font-weight: 900;
}

.bgimg-style {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1.168/1;
  overflow: visiable;
}

i {
  display: inline-block;
}

.bi::before {
  vertical-align: 0;
}

.color-b {
  color: #000000;
}

.pagetitle {
  font-size: 7.5rem;
  font-weight: 900;
}
.pagetitlep {
  font-size: 1.75rem;
  font-weight: 700;
}

.article-list-content time {
  margin-bottom: 0.25rem;
}
.article-tag {
  color: #0027D5;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.article-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.article-content {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
}
.article-content-show {
  -webkit-line-clamp: initial;
}

.showBtn {
  /*   display: inline-block; */
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  color: #4B4B4B;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
}
.showBtn:hover {
  color: #FBFBFB;
  background: #4B4B4B;
}

.contact .contact1 {
  font-size: 2rem;
}
.contact .contact2 {
  color: #0027D5;
}
.contact .contact2 .bi-font {
  font-size: 1.5rem;
  margin: 4px 10px;
}

.block-title {
  color: #0027D5;
  font-weight: 700;
  font-size: 1.75rem;
}

.content-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.bi-font24 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 0;
}

.bi-font24::before {
  vertical-align: 0;
}

.nav {
  top: 0;
  padding: 1.5rem 5rem;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nav-li {
  font-size: 1.75rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 0 1px #4B4B4B;
  gap: 1.5rem;
  max-height: 640px;
}
.header-banner {
  width: 50%;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/blog-content/About%20Section.png");
}
.header-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-content .article-list-content {
  width: 90%;
}

.main {
  box-shadow: inset 0 0 0 1px #4B4B4B;
}
.main .block-container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .block-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 3rem;
  max-width: 636px;
  width: 100%;
}
.main .flex-row {
  flex-direction: row;
  margin-bottom: 0;
}
.main .block-img img {
  width: 100%;
}
.main .block-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
.main .content-text-list {
  margin-top: 0.5rem;
}
.main .block-tip {
  background: #EDEDED;
  border-radius: 1.5rem;
  padding: 1.5rem;
  font-weight: 700;
}
.main ul {
  list-style-type: disc;
}
.main ol {
  list-style-type: decimal;
}
.main li {
  margin-left: 1.5rem;
  list-style-position: initial;
}
.main .page-dir {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  border: 1px solid #000000;
  color: #4B4B4B;
}
.main .page-control a:hover {
  background: #0027D5;
  color: #FFFFFF;
}

.footer .container {
  max-width: 1296px;
  margin: 0 auto;
}
.footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem;
}
.footer p {
  background: #FFFFFF;
  text-align: center;
  padding: 1.5rem 0;
}

/* 桌機版：預設樣式，不加 media query */
@media screen and (max-width: 1199px) {
  /* 螢幕寬度 ≤ 1199px：平板或小型桌機樣式 */
}
@media screen and (max-width: 991px) {
  /* 螢幕寬度 ≤ 991px：小平板樣式 */
  .nav {
    padding: 1rem 5rem;
  }
  .header {
    display: block;
    max-height: 100%;
  }
  .header-banner {
    aspect-ratio: 1.168/1;
  }
  .header-banner, .header-content {
    width: 100%;
    max-height: 640px;
  }
  .header-content {
    padding: 1.5rem;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  /* 螢幕寬度 ≤ 767px：手機樣式 */
  .footer .container {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  /* 螢幕寬度 ≤ 575px：小手機樣式 */
}/*# sourceMappingURL=blogdetail.css.map */