$font-family-base: "Noto Sans TC", sans-serif;

$color-font-base: #0027D5;
$color-font-main: #4B4B4B;
$color-bg-base: #FBFBFB;
$color-bg-block: #EDEDED;
$color-bd-base: #6C757D;

$color-black: #000000;
$color-white: #FFFFFF;

$font-size-h1: 7.5rem;   // 120px
$font-size-xl: 2rem;     //32px
$font-size-l: 1.75rem;   // 28px 
$font-size-m: 1.5rem;    // 24px 

$fw-5: 500;
$fw-7: 700;
$fw-9: 900;
